body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #012a42;
  font-family: sans-serif;
}
#targetButton {
  position: relative;
  width: 90vw;
  max-width: 90vh;
  height: 90vw;
  max-height: 90vh;
  border-radius: 50%;
  background: transparent;
  color: #ffee8b;
  font-size: 16px;
  border: 2px solid #5196fa;
  cursor: pointer;
  transition: all 0.4s ease;
  z-index: 1;
}
#arrow {
  position: absolute;
  width: 80vw;
  height: 88vw;
  max-width: 50vh;
  max-height: 70vh;

  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background:  #ffee8b;
  justify-content: center;
  align-items: center;
  transform: rotate(0deg);

  transition: transform 0.3s ease;
}
#distanceDisplay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: #007bff;
  font-weight: bold;
}