body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #012a42;
  font-family: sans-serif;
}

#targetButton {
  position: relative;
  width: 90vw;
  max-width: 90vh;
  height: 90vw;
  max-height: 90vh;
  border-radius: 50%;
  background: transparent;
  color: #ffee8b;
  font-size: 16px;
  border: 2px solid #5196fa;
  cursor: pointer;
  transition: all 0.4s ease;
  z-index: 1;
}

#arrow {
  position: absolute;
  width: 80vw;
  height: 88vw;
  max-width: 30vh;
  max-height: 70vh;
  clip-path: polygon(50% 0, 90% 50%, 65% 50%, 65% 100%, 35% 100%, 35% 50%, 10% 50%);
  background: linear-gradient(#226700 35%, #41b503 65%, transparent);
  justify-content: center;
  align-items: center;
  transform: rotate(0deg);
  transition: transform 0.1s linear;
}

#distanceDisplay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: #b7d8f8;
  font-weight: bold;
}
